.unodered-list{
    list-style-type:circle;
    /*list-style-type:square;
      list-style-type:disc;
      list-style-type:none */
}
.ordered-list{
    list-style-type:lower-greek;
    /*list-style-type:lower-alpha;
      list-style-type:lower-roman;
      list-style-type:upper-alpha;
      list-style-type:upper-roman; */
}